{% extends 'base.html.twig' %}

{% block title %}
	Tags
{% endblock %}

{% block body %}

	<br>
	<h1 class="text-center">
		Tag details
	</h1>
	<br>

	<div class="card">
		<div class="card-header text-center">
			<h2 class="text-center">
				Documents list of
				{{ tag.label }}
			</h2>
		</div>
		<div class="card-body text-center">
			<table class="table table-striped">
				<tbody>
					<tr>


						{# NOTE: aria descriptions:#}
						<div id="doc_link-hint" aria-hidden="false" hidden="true">
							Click to view this document
						</div>
						{# end of aria descriptions#}


						<td scope="col">
							{% for document in documents %}
								{% if document.protection== false or document.user==app.user %}
									<a href="{{path('documents_show',{id:document.id})}}" aria-describedby="doc_link-hint">
										<abbr title="Click to view the document">
											{{ document.label }}
										</abbr>
									</a>
									<br>
								{% endif %}
							{% endfor %}
						</td>


					</tr>

				</tbody>
			</table>
		</div>
	</div>
	<button class="btn btn-primary">
		<a href="{{ path('tags_index') }}">
			back to list
		</a>
	</button>


{% endblock %}
