{% block stylesheet %}
        <link href="{{ asset('/js/dictaphone/styles/app.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
	<div role="contentinfo" aria-label="info">You can use our voice recorder to record a voice memo. At the end of the recording, you can listen to the recording, delete it and record it again.If the recording is correct, download it with the download button and upload in the audio note menu.</div>
<section class="main-controls">
		<canvas class="visualizer" height="60px"></canvas>
		<div id="buttons">
			<button data-record type="button" class="record">Record</button>
			<button type="button" class="stop">Stop</button>
		</div>
	</section>
	  <div><button class="btn btn-link"><a id="downloadLink" download="record.ogg" name="record.ogg" href></a></button></div>
    
	 {#<label for="audio_note">Audio_note</label>
	  <input type="text" name="audio_note" id="audio_note">#}
	
	  </section>

      <section class="sound-clips">

      </section>

    </div>