
<form method="post" action="{{ path('files_add_new') }}" >
    <input type="hidden" name="_method" value="ADD">
    <button class="btn btn-success" value="add" ><abbr title="Save and add new">Save and add new</abbr></button>
</form>