
<section class="main-controls">
		<canvas class="visualizer" height="60px"></canvas>
		<div id="buttons">
			<button data-record type="button" class="record">Record</button>
			<button type="button" class="stop">Stop</button>
		</div>
	</section>
	  <div><a id="downloadLink" download="record.ogg" name="record.ogg" href></a></div>
    
	 <label for="audio_note">Audio_note</label>
	  <input type="text" name="audio_note" id="audio_note">
	
	  </section>

      <section class="sound-clips">

      </section>

    </div>